@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* { outline: none !important; }
body { font-family: 'Open Sans', sans-serif; font-size: 14px; }
a:hover, a:focus { text-decoration: none !important; }
.logo { padding: 15px 0 30px; }
.sidebar { background: #999999; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; }
.side-top { background: #29a7e1; padding: 10px 0; border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -o-border-radius: 10px 10px 0 0; }
.side-top a { float: right; margin: 0 10px 0 0; }
.search { padding: 20px 10px; position: relative; }
.search .form-control { height: 45px !important; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -o-border-radius: 15px; }
.search_icon { border: none; background: none; position: absolute; top: 35px; right: 20px; }
.profile { padding: 30px 0; }
.row{ margin-left:0px; margin-right:-5px;}
.profile > ul { list-style: none; margin: 0; padding: 0; }
.profile > ul > li { float: right; margin: 0 15px; }
.profile > ul > li > a { font: normal 14px/60px 'Open Sans', sans-serif; color: #29a7e1 }
/**===========Accordion================*/
.accordion { padding: 0px 0 20px; }
.accordion-heading { background: #595959; padding-left: 50px; }
.accordion-heading a { font: bold 14px/45px 'Open Sans', sans-serif; color: #fff; }
.accordion-heading a:hover, .accordion-heading a:active {  color: #29a7e1; }
.accordion-inner { padding: 10px 15px 0; }
.accordion-inner p { background: url(../images/close_icon.jpg) no-repeat right center; font: normal 16px/45px 'Open Sans', sans-serif; color: #fff; border-bottom: 1px solid #fff; padding: 0 0 5px 10px; }
.user { background: url(../images/profile.png) no-repeat right center !important; }
/**===========Login================*/
.login { margin: auto; display: table-cell; text-align: center; vertical-align: middle; }
.login-body { margin: 0; display: table; height: 100%; width: 100%; vertical-align: middle; position: absolute; }
.login .caret{ color:#3071A9;}
.login .form-control { padding: 0px 12px; margin-bottom: 20px; border-radius: 7px; height: 50px; }
.login-btn { border-radius: 7px; width: 80%; font-size: 20px; padding: 8px 0; background: #23aae4; border: none; }
.login .logo { margin-bottom: 55px; }
.login .dropdown-toggle { height: 50px; } .dropbtn{  margin-bottom:0;  display:block; }
.name { float:left;  }
/**===========Content Panels================*/

.panel-heading { padding: 24px 15px; }
.panel { border-radius: 10px; }
.content { padding: 0 5px; }
.panel-heading { border-radius: 10px 10px 0 0; background-color: #999999 !important; }
.panel-body h4 { color: #29a7e1; font: bold 16px/45px 'Open Sans', sans-serif; }
.panel-body { padding: 0 0 0 15px; }
.control-label { padding: 8px 0 0 0; font-weight: normal; }
.form-group { margin-bottom: 15px; display: inline-block; width: 100% !important; }
.dropdown-toggle { width: 100%; text-align: right; border-radius: 4px !important;}
.dropdown-menu { right: auto; left: 0; width: 100%; }
.btns .btn { padding: 5px 40px 7px 40px; }
.savebtn { background: #29A7E1 !important; border-color: #29A7E1; margin: 15px; }
.cancelbtn { color: #29A7E1; border-color: #29A7E1; margin: 15px; }
.check { float: right; }
.dropdown-toggle:focus, .dropdown-toggle:hover, .dropdown-toggle:active { background: none !important; }
.drp-dwn { margin-bottom: 25px; }
.no-padding { padding: 0; }
h6 { font-weight: bold; }
.dropbtn{ width: 100%;}
.add{ margin-bottom:15px;}
.accordion-heading{margin-bottom: 1px;}
 .profile ul{ padding:5px 0px; text-align:center;} 
.profile .dropdown-menu{right: 0;
left: auto; margin-top:5px;}
.widget-content{margin-top: 30px;}
@media (min-width:768px) {
.sidebar, .panel { min-height: 680px; }
.login form { width: 30%; margin: auto; }
}

@media (min-width:1200px) {
.padding-left { padding: 0 0 0 5px; }
.sidebar, .panel { min-height: 670px; }
.login form { width: 15%; margin: auto; }
}
@media (max-width:768px) {
.savebtn, .cancelbtn { width: 100%; margin: 10px 0; }
.btns { padding: 0; }
.drp-dwn { margin-bottom: 0px; }
.login form { width: 30%; margin: auto; }
}

@media (max-width:767px) {
.content { padding: 0; }
.panel02 { padding: 0; }
.login form { width: 70%; margin: auto; }
}

